#interface {

    display: flex;
    justify-content: center;

}

.texteForm{
	/*border: solid 1px;*/
	border-radius: 5px;
	padding: 5px;
	text-align : center;
}

.cliquable:hover{
	background-color : lightgrey;
}


.filsGauche{
	float : left;
}

.filsDroit{
	float : right;
}

.element{
	margin : 20px;
	margin-top: 30px;
	text-align : center;
}

.actif{
	background-color: #ba9077;
}

#menu{
	background-color: #98dafc;
}

body{
	margin :0px;
}

svg{
	position: absolute;
	z-index: -100;
}

line{
	position: absolute;
}

#divScore{
	float:right;
	margin:0px;
}

#divTitre{
	text-align:center;
	background-color: #98dafc;
	margin: 0px;
}

#divOption{
	padding : 15px ;
}

h2{
	margin:0px;
}